.allSteps__container {
  padding-top: 6rem;

  @include media('>=tablet') {
    padding-top: 8rem;

  }

  .allSteps__wrapper {
    .allSteps__box {
      text-align: center;
    }
  }
  .allSteps__info {
    padding-top: 6rem;
    .step__container {
      .step {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 3rem;
        position: relative;

        .steps_box {
          width: 17rem;
          position: relative;
          background: #404040;
          margin: 1.7rem 0.8rem;
          padding: 0.5rem;
          background: #fbfbff;
          border: 1px solid #e9e9e9;
          border-radius: 0.2rem;
          cursor: crosshair;
          will-change: transform;

          p {
            line-height: 1.4rem;

            span {
              font-size: 1.2rem;
            }
          }

          .box_title {
            padding: 0.5rem;
            text-align: center;

            p {
              padding-top: 0.5rem;
              line-height: 1.4rem;
            }

            img {
              padding-top: 0.5rem;
              height: 3rem;
              width: 3rem;

              @include media('>=tablet') {
                height: 4rem;
                width: 4rem;
              }
            }
          }
        }
      }
    }
  }
}
